@primitive margin, m {
    xx-small: var(--spacing--xx-small);
    x-small: var(--spacing--x-small);
    small: var(--spacing--small);
    medium: var(--spacing--medium);
    large: var(--spacing--large);
    x-large: var(--spacing--x-large);
    xx-large: var(--spacing--xx-large);
}
